@using StreetFood.Web.Controllers
@model List<FoodTruck>

@{
    ViewBag.Title = "Little Rock Street Food";
}
<ul class="list-group">
    @foreach (var truck in Model)
    {
        <li class="list-group-item">
            <a href="@Url.Action("View", new {id = truck.Id})" class="clearfix">
                <div style="width: 100%">
                    <img class="pull-right badge" src="@truck.ImageUrl"/>
                    @truck.Name
                </div>
            </a>
        </li>
    }
</ul>
<a href="@Url.Action("Add")" type="button" class="btn btn-lg btn-primary">Add Truck</a>
<br/>
<br/>